doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Login to UpTask

            if locals.messages
                .alertas
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alerta(class=`${category}`)= error

            form#formulario.caja.caja-login(method="POST" action="/login")
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Email" required value= email)
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Password"
                    required value= password)
                .campo.enviar
                    input.boton(type="submit" value="Login")
                .campo
                    a(href="/new-user") Create your account
