doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= pageTitle

            p Write your email to recover your password

            if locals.messages
                .alertas
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alerta(class=`${category}`)= error

            form#formulario.caja.caja-login(method="POST" action="/recover")
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Email" required value= email)
                .campo.enviar
                    input.boton(type="submit" value="Recover")
                .campo.acciones
                    a(href="/login") Go to Login