doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Confirm your UpTask account
        p Hi! you are almost registered, click this link to verify your email.
        a(href=`${confirmUrl}`) CONFIRM ACCOUNT
        p In case you can't access this link, paste this in your browser #{confirmUrl}